# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [15]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n**0.5
        n += 1


# Example usage:
limit = 13
generator = square_root_generator(limit)

# for sqrt_value in generator:
#     print(sqrt_value)

val = 0
for v in generator:
    print(v)
    val += v
    print(val)

# print(val)

1.0
1.0
1.4142135623730951
2.414213562373095
1.7320508075688772
4.146264369941973
2.0
6.146264369941973
2.23606797749979
8.382332347441762
2.449489742783178
10.83182209022494
2.6457513110645907
13.47757340128953
2.8284271247461903
16.30600052603572
3.0
19.30600052603572
3.1622776601683795
22.4682781862041
3.3166247903554
25.7849029765595
3.4641016151377544
29.249004591697254
3.605551275463989
32.854555867161245

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [ ]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [33]:
# to do: homework :)


def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}


for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {
            "ID": i,
            "Name": f"Person_{i}",
            "Age": 30 + i,
            "City": "City_B",
            "Occupation": f"Job_{i}",
        }


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [37]:
import dlt

generators_pipeline = dlt.pipeline(destination="duckdb", dataset_name="people")


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(
    people_1(), table_name="people", write_disposition="replace"
)

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

# we can load the next generator to the same or to a different table.
info = generators_pipeline.run(
    people_2(),
    table_name="people",
    write_disposition="append",
)

print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.13 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:////Users/jonathondonager/Documents/GitHub/data-engineering-learn/workshop_1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708236066.2553852 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 0.15 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:////Users/jonathondonager/Documents/GitHub/data-engineering-learn/workshop_1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708236066.7310321 is LOADED and contains no failed jobs

In [38]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print("Loaded tables: ")
display(conn.sql("show tables"))

# and the data

print("\n\n\n people table below:")

rides = conn.sql("SELECT * FROM people").df()
display(rides)

print("\n\n\n age sum below:")

passengers = conn.sql("SELECT sum(age) FROM people").df()
display(passengers)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ stream_download     │
└─────────────────────┘

 people table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708236066.2553852  C8xX0WbRZdkI2Q       None
1    2  Person_2   27  City_A  1708236066.2553852  Ihx6ZtLcUsAIWA       None
2    3  Person_3   28  City_A  1708236066.2553852  2epKoJOS4aKRzA       None
3    4  Person_4   29  City_A  1708236066.2553852  TAfTIRetmUZ9YA       None
4    5  Person_5   30  City_A  1708236066.2553852  yQp745rGR4bFMA       None
5    3  Person_3   33  City_B  1708236066.7310321  md6gNFvweOmk8A      Job_3
6    4  Person_4   34  City_B  1708236066.7310321  5u659iCqnvqxag      Job_4
7    5  Person_5   35  City_B  1708236066.7310321  s9A7ab9CVPC3TA      Job_5
8    6  Person_6   36  City_B  1708236066.7310321  AMivwDVw03NvZQ      Job_6
9    7  Person_7   37  City_B  1708236066.7310321  86eINmM30v7+hA      Job_7
10   8  Person_8   38  City_B  1708236066.7310321  L606BpSUGYkwgA      Job_8

 age sum below:

   sum(age)
0     353.0

In [39]:
import dlt

generators_pipeline = dlt.pipeline(destination="duckdb", dataset_name="people")


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(
    people_1(), table_name="people", write_disposition="replace"
)

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

# we can load the next generator to the same or to a different table.
info = generators_pipeline.run(
    people_2(), table_name="people", write_disposition="merge", primary_key="ID"
)

print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.14 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:////Users/jonathondonager/Documents/GitHub/data-engineering-learn/workshop_1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708236102.153024 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 0.28 seconds
1 load package(s) were loaded to destination duckdb and into dataset people
The duckdb destination used duckdb:////Users/jonathondonager/Documents/GitHub/data-engineering-learn/workshop_1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708236102.645644 is LOADED and contains no failed jobs

In [40]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print("Loaded tables: ")
display(conn.sql("show tables"))

# and the data

print("\n\n\n people table below:")

rides = conn.sql("SELECT * FROM people").df()
display(rides)

print("\n\n\n age sum below:")

passengers = conn.sql("SELECT sum(age) FROM people").df()
display(passengers)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ stream_download     │
└─────────────────────┘

 people table below:

   id      name  age    city       _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708236102.153024  xRf6sR2011Q4Nw       None
1   2  Person_2   27  City_A  1708236102.153024  cA7HboHCSt9sEg       None
2   8  Person_8   38  City_B  1708236102.645644  gZQdnd5txfgPXg      Job_8
3   5  Person_5   35  City_B  1708236102.645644  irFrDtkIz5cs8Q      Job_5
4   7  Person_7   37  City_B  1708236102.645644  VA953Y2VdyAYTw      Job_7
5   4  Person_4   34  City_B  1708236102.645644  hgGhot/fAAE9uQ      Job_4
6   3  Person_3   33  City_B  1708236102.645644  Bmtb+O+DN919Zg      Job_3
7   6  Person_6   36  City_B  1708236102.645644  Dq9bUjchD4zmoA      Job_6

 age sum below:

   sum(age)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX